<div class='home-page'>
    <img src="images/beer.png" alt="" class='beer-img'>
    <a href="/beers" class='check-beer-button'>Check the Beers !</a>
    <a href="/random-beer" class='check-beer-button'>Check a random beer !</a>
</div>